.main{
    background-color:  #B2E4FA;
    width: 100vw;
    height: 100vh;
    
}

.optionsMenu {
    flex: 0 0 15%;
    background-color: #43c0f6;
    height:auto;
}

.contentsPage {
    display: flex;
    height:85vh;
}

.copyRight {
    background-color: white;
    height:7vh;
}

.copyRightContents {
    padding: 15px;
    text-align:center;
    color:#707070;
    font-weight: bold;
    word-spacing: 3px;
    font-family: 'Ubuntu';
}



