.tkpContainer {
  width: 100vw;
  max-width: 1920px;
  height: 460px;
  margin: 0px 0px 0px 0px;
}

.blurb {
  margin: 0px 0px 55px 0px;
}

.h1 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 30px;
  color: #6c6c6c;
  text-align: center;
}

.span {
  font-style: italic;
}

.imgContainer {
  display: flex;
  margin: 0px;
  justify-content: center;
}

.img {
  margin: 0px 24px;
}

/* Media Query for Responsive Design */
